<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rats.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.rats.entity.Menu">

        <id column="id"  jdbcType="INTEGER" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="href" jdbcType="VARCHAR" property="href" />
        <result column="target" jdbcType="VARCHAR" property="target" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="is_show" jdbcType="CHAR" property="isShow" />
        <result column="permission" jdbcType="VARCHAR" property="permission" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="updater" jdbcType="VARCHAR" property="updater" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="state" jdbcType="CHAR" property="state" />
    </resultMap>

    <sql id="Base_Column_List">
             id ,  parent_id ,  parent_ids ,  name ,  sort ,  href ,  target ,  icon ,  is_show ,  permission ,  creator ,  create_date ,  updater ,  update_date ,  remark ,  state  
    </sql>

    <select id="selectByExample"  parameterType="com.rats.framework.common.persistence.Example" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_sys_menu
        <if test="_parameter != null" >
            <include refid="common.Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from t_sys_menu
        where  id = #{id ,jdbcType=INTEGER}  

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_sys_menu
        where  id = #{id ,jdbcType=INTEGER}  

    </delete>

    <delete id="deleteByExample" parameterType="com.rats.framework.common.persistence.Example">
        delete from t_sys_menu
        <if test="_parameter != null" >
            <include refid="common.Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.rats.entity.Menu">
        insert into t_sys_menu (
             id ,  parent_id ,  parent_ids ,  name ,  sort ,  href ,  target ,  icon ,  is_show ,  permission ,  creator ,  create_date ,  updater ,  update_date ,  remark ,  state  
        ) values (
             #{id, jdbcType=INTEGER} ,  #{parentId, jdbcType=INTEGER} ,  #{parentIds, jdbcType=VARCHAR} ,  #{name, jdbcType=VARCHAR} ,  #{sort, jdbcType=INTEGER} ,  #{href, jdbcType=VARCHAR} ,  #{target, jdbcType=VARCHAR} ,  #{icon, jdbcType=VARCHAR} ,  #{isShow, jdbcType=CHAR} ,  #{permission, jdbcType=VARCHAR} ,  #{creator, jdbcType=VARCHAR} ,  #{createDate, jdbcType=TIMESTAMP} ,  #{updater, jdbcType=VARCHAR} ,  #{updateDate, jdbcType=TIMESTAMP} ,  #{remark, jdbcType=VARCHAR} ,  #{state, jdbcType=CHAR}  
        )
    </insert>

    <insert id="insertSelective" parameterType="com.rats.entity.Menu">
        insert into t_sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
        <if test="parentId != null">
            parent_id,
        </if>
        <if test="parentIds != null">
            parent_ids,
        </if>
        <if test="name != null">
            name,
        </if>
        <if test="sort != null">
            sort,
        </if>
        <if test="href != null">
            href,
        </if>
        <if test="target != null">
            target,
        </if>
        <if test="icon != null">
            icon,
        </if>
        <if test="isShow != null">
            is_show,
        </if>
        <if test="permission != null">
            permission,
        </if>
        <if test="creator != null">
            creator,
        </if>
        <if test="createDate != null">
            create_date,
        </if>
        <if test="updater != null">
            updater,
        </if>
        <if test="updateDate != null">
            update_date,
        </if>
        <if test="remark != null">
            remark,
        </if>
        <if test="state != null">
            state,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id, jdbcType=INTEGER} ,
        </if>
        <if test="parentId != null">
            #{parentId, jdbcType=INTEGER} ,
        </if>
        <if test="parentIds != null">
            #{parentIds, jdbcType=VARCHAR} ,
        </if>
        <if test="name != null">
            #{name, jdbcType=VARCHAR} ,
        </if>
        <if test="sort != null">
            #{sort, jdbcType=INTEGER} ,
        </if>
        <if test="href != null">
            #{href, jdbcType=VARCHAR} ,
        </if>
        <if test="target != null">
            #{target, jdbcType=VARCHAR} ,
        </if>
        <if test="icon != null">
            #{icon, jdbcType=VARCHAR} ,
        </if>
        <if test="isShow != null">
            #{isShow, jdbcType=CHAR} ,
        </if>
        <if test="permission != null">
            #{permission, jdbcType=VARCHAR} ,
        </if>
        <if test="creator != null">
            #{creator, jdbcType=VARCHAR} ,
        </if>
        <if test="createDate != null">
            #{createDate, jdbcType=TIMESTAMP} ,
        </if>
        <if test="updater != null">
            #{updater, jdbcType=VARCHAR} ,
        </if>
        <if test="updateDate != null">
            #{updateDate, jdbcType=TIMESTAMP} ,
        </if>
        <if test="remark != null">
            #{remark, jdbcType=VARCHAR} ,
        </if>
        <if test="state != null">
            #{state, jdbcType=CHAR} ,
        </if>
        </trim>
    </insert>


    <update id="updateByExampleSelective" parameterType="map">
        update t_sys_menu
        <set>
            <if test="record.id != null">
                id = #{record.id, jdbcType=INTEGER} ,
            </if>
            <if test="record.parentId != null">
                parent_id = #{record.parentId, jdbcType=INTEGER} ,
            </if>
            <if test="record.parentIds != null">
                parent_ids = #{record.parentIds, jdbcType=VARCHAR} ,
            </if>
            <if test="record.name != null">
                name = #{record.name, jdbcType=VARCHAR} ,
            </if>
            <if test="record.sort != null">
                sort = #{record.sort, jdbcType=INTEGER} ,
            </if>
            <if test="record.href != null">
                href = #{record.href, jdbcType=VARCHAR} ,
            </if>
            <if test="record.target != null">
                target = #{record.target, jdbcType=VARCHAR} ,
            </if>
            <if test="record.icon != null">
                icon = #{record.icon, jdbcType=VARCHAR} ,
            </if>
            <if test="record.isShow != null">
                is_show = #{record.isShow, jdbcType=CHAR} ,
            </if>
            <if test="record.permission != null">
                permission = #{record.permission, jdbcType=VARCHAR} ,
            </if>
            <if test="record.creator != null">
                creator = #{record.creator, jdbcType=VARCHAR} ,
            </if>
            <if test="record.createDate != null">
                create_date = #{record.createDate, jdbcType=TIMESTAMP} ,
            </if>
            <if test="record.updater != null">
                updater = #{record.updater, jdbcType=VARCHAR} ,
            </if>
            <if test="record.updateDate != null">
                update_date = #{record.updateDate, jdbcType=TIMESTAMP} ,
            </if>
            <if test="record.remark != null">
                remark = #{record.remark, jdbcType=VARCHAR} ,
            </if>
            <if test="record.state != null">
                state = #{record.state, jdbcType=CHAR} ,
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="common.Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update t_sys_menu
        set
            id = #{record.id, jdbcType=INTEGER} ,
            parent_id = #{record.parentId, jdbcType=INTEGER} ,
            parent_ids = #{record.parentIds, jdbcType=VARCHAR} ,
            name = #{record.name, jdbcType=VARCHAR} ,
            sort = #{record.sort, jdbcType=INTEGER} ,
            href = #{record.href, jdbcType=VARCHAR} ,
            target = #{record.target, jdbcType=VARCHAR} ,
            icon = #{record.icon, jdbcType=VARCHAR} ,
            is_show = #{record.isShow, jdbcType=CHAR} ,
            permission = #{record.permission, jdbcType=VARCHAR} ,
            creator = #{record.creator, jdbcType=VARCHAR} ,
            create_date = #{record.createDate, jdbcType=TIMESTAMP} ,
            updater = #{record.updater, jdbcType=VARCHAR} ,
            update_date = #{record.updateDate, jdbcType=TIMESTAMP} ,
            remark = #{record.remark, jdbcType=VARCHAR} ,
            state = #{record.state, jdbcType=CHAR} ,
        <if test="_parameter != null">
            <include refid="common.Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.rats.entity.Menu">
        update t_sys_menu
        <set>
            <if test="parentId != null">
                parent_id =#{parentId, jdbcType=INTEGER} ,
            </if>
            <if test="parentIds != null">
                parent_ids =#{parentIds, jdbcType=VARCHAR} ,
            </if>
            <if test="name != null">
                name =#{name, jdbcType=VARCHAR} ,
            </if>
            <if test="sort != null">
                sort =#{sort, jdbcType=INTEGER} ,
            </if>
            <if test="href != null">
                href =#{href, jdbcType=VARCHAR} ,
            </if>
            <if test="target != null">
                target =#{target, jdbcType=VARCHAR} ,
            </if>
            <if test="icon != null">
                icon =#{icon, jdbcType=VARCHAR} ,
            </if>
            <if test="isShow != null">
                is_show =#{isShow, jdbcType=CHAR} ,
            </if>
            <if test="permission != null">
                permission =#{permission, jdbcType=VARCHAR} ,
            </if>
            <if test="creator != null">
                creator =#{creator, jdbcType=VARCHAR} ,
            </if>
            <if test="createDate != null">
                create_date =#{createDate, jdbcType=TIMESTAMP} ,
            </if>
            <if test="updater != null">
                updater =#{updater, jdbcType=VARCHAR} ,
            </if>
            <if test="updateDate != null">
                update_date =#{updateDate, jdbcType=TIMESTAMP} ,
            </if>
            <if test="remark != null">
                remark =#{remark, jdbcType=VARCHAR} ,
            </if>
            <if test="state != null">
                state =#{state, jdbcType=CHAR} ,
            </if>
        </set>
        where  id = #{id ,jdbcType=INTEGER}  

    </update>

    <update id="updateByPrimaryKey" parameterType="com.rats.entity.Menu">
        update t_sys_menu
        set
            id = #{id, jdbcType=INTEGER} ,
            parent_id = #{parentId, jdbcType=INTEGER} ,
            parent_ids = #{parentIds, jdbcType=VARCHAR} ,
            name = #{name, jdbcType=VARCHAR} ,
            sort = #{sort, jdbcType=INTEGER} ,
            href = #{href, jdbcType=VARCHAR} ,
            target = #{target, jdbcType=VARCHAR} ,
            icon = #{icon, jdbcType=VARCHAR} ,
            is_show = #{isShow, jdbcType=CHAR} ,
            permission = #{permission, jdbcType=VARCHAR} ,
            creator = #{creator, jdbcType=VARCHAR} ,
            create_date = #{createDate, jdbcType=TIMESTAMP} ,
            updater = #{updater, jdbcType=VARCHAR} ,
            update_date = #{updateDate, jdbcType=TIMESTAMP} ,
            remark = #{remark, jdbcType=VARCHAR} ,
            state = #{state, jdbcType=CHAR} 
        where  id = #{id ,jdbcType=INTEGER}  

    </update>



    <select id="countByExample" parameterType="com.rats.framework.common.persistence.Example" resultType="java.lang.Long">
        select count(*) from t_sys_menu
        <if test="_parameter != null">
            <include refid="common.Example_Where_Clause" />
        </if>
    </select>

</mapper>


