<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rats.mapper.RolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.rats.entity.RolePermission">

        <id column="id"  jdbcType="INTEGER" property="id"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="resource_id" jdbcType="VARCHAR" property="resourceId" />
        <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    </resultMap>

    <sql id="Base_Column_List">
             id ,  role_id ,  resource_id ,  resource_type  
    </sql>

    <select id="selectByExample"  parameterType="com.rats.framework.common.persistence.Example" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_sys_role_permission
        <if test="_parameter != null" >
            <include refid="common.Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from t_sys_role_permission
        where  id = #{id ,jdbcType=INTEGER}  

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_sys_role_permission
        where  id = #{id ,jdbcType=INTEGER}  

    </delete>

    <delete id="deleteByExample" parameterType="com.rats.framework.common.persistence.Example">
        delete from t_sys_role_permission
        <if test="_parameter != null" >
            <include refid="common.Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.rats.entity.RolePermission">
        insert into t_sys_role_permission (
             id ,  role_id ,  resource_id ,  resource_type  
        ) values (
             #{id, jdbcType=INTEGER} ,  #{roleId, jdbcType=VARCHAR} ,  #{resourceId, jdbcType=VARCHAR} ,  #{resourceType, jdbcType=VARCHAR}  
        )
    </insert>

    <insert id="insertSelective" parameterType="com.rats.entity.RolePermission">
        insert into t_sys_role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
        <if test="roleId != null">
            role_id,
        </if>
        <if test="resourceId != null">
            resource_id,
        </if>
        <if test="resourceType != null">
            resource_type,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id, jdbcType=INTEGER} ,
        </if>
        <if test="roleId != null">
            #{roleId, jdbcType=VARCHAR} ,
        </if>
        <if test="resourceId != null">
            #{resourceId, jdbcType=VARCHAR} ,
        </if>
        <if test="resourceType != null">
            #{resourceType, jdbcType=VARCHAR} ,
        </if>
        </trim>
    </insert>


    <update id="updateByExampleSelective" parameterType="map">
        update t_sys_role_permission
        <set>
            <if test="record.id != null">
                id = #{record.id, jdbcType=INTEGER} ,
            </if>
            <if test="record.roleId != null">
                role_id = #{record.roleId, jdbcType=VARCHAR} ,
            </if>
            <if test="record.resourceId != null">
                resource_id = #{record.resourceId, jdbcType=VARCHAR} ,
            </if>
            <if test="record.resourceType != null">
                resource_type = #{record.resourceType, jdbcType=VARCHAR} ,
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="common.Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update t_sys_role_permission
        set
            id = #{record.id, jdbcType=INTEGER} ,
            role_id = #{record.roleId, jdbcType=VARCHAR} ,
            resource_id = #{record.resourceId, jdbcType=VARCHAR} ,
            resource_type = #{record.resourceType, jdbcType=VARCHAR} ,
        <if test="_parameter != null">
            <include refid="common.Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.rats.entity.RolePermission">
        update t_sys_role_permission
        <set>
            <if test="roleId != null">
                role_id =#{roleId, jdbcType=VARCHAR} ,
            </if>
            <if test="resourceId != null">
                resource_id =#{resourceId, jdbcType=VARCHAR} ,
            </if>
            <if test="resourceType != null">
                resource_type =#{resourceType, jdbcType=VARCHAR} ,
            </if>
        </set>
        where  id = #{id ,jdbcType=INTEGER}  

    </update>

    <update id="updateByPrimaryKey" parameterType="com.rats.entity.RolePermission">
        update t_sys_role_permission
        set
            id = #{id, jdbcType=INTEGER} ,
            role_id = #{roleId, jdbcType=VARCHAR} ,
            resource_id = #{resourceId, jdbcType=VARCHAR} ,
            resource_type = #{resourceType, jdbcType=VARCHAR} 
        where  id = #{id ,jdbcType=INTEGER}  

    </update>



    <select id="countByExample" parameterType="com.rats.framework.common.persistence.Example" resultType="java.lang.Long">
        select count(*) from t_sys_role_permission
        <if test="_parameter != null">
            <include refid="common.Example_Where_Clause" />
        </if>
    </select>

</mapper>


