<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rats.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.rats.entity.User">

        <id column="id"  jdbcType="VARCHAR" property="id"/>
        <result column="depart_id" jdbcType="VARCHAR" property="departId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="user_no" jdbcType="VARCHAR" property="userNo" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="user_type" jdbcType="CHAR" property="userType" />
        <result column="photo" jdbcType="VARCHAR" property="photo" />
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
        <result column="login_date" jdbcType="TIMESTAMP" property="loginDate" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="updater" jdbcType="VARCHAR" property="updater" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="state" jdbcType="CHAR" property="state" />
    </resultMap>

    <sql id="Base_Column_List">
             id ,  depart_id ,  username ,  password ,  user_no ,  name ,  email ,  mobile ,  user_type ,  photo ,  login_ip ,  login_date ,  creator ,  create_date ,  updater ,  update_date ,  remarks ,  state  
    </sql>

    <select id="selectByExample" parameterType="com.rats.framework.data.persistence.GeneratedExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_sys_user
        <if test="_parameter != null" >
            <include refid="common.Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from t_sys_user
        where  id = #{id ,jdbcType=VARCHAR}  

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_sys_user
        where  id = #{id ,jdbcType=VARCHAR}  

    </delete>

    <delete id="deleteByExample" parameterType="com.rats.framework.data.persistence.GeneratedExample">
        delete from t_sys_user
        <if test="_parameter != null" >
            <include refid="common.Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.rats.entity.User">
        insert into t_sys_user (
             id ,  depart_id ,  username ,  password ,  user_no ,  name ,  email ,  mobile ,  user_type ,  photo ,  login_ip ,  login_date ,  creator ,  create_date ,  updater ,  update_date ,  remarks ,  state  
        ) values (
             #{id, jdbcType=VARCHAR} ,  #{departId, jdbcType=VARCHAR} ,  #{username, jdbcType=VARCHAR} ,  #{password, jdbcType=VARCHAR} ,  #{userNo, jdbcType=VARCHAR} ,  #{name, jdbcType=VARCHAR} ,  #{email, jdbcType=VARCHAR} ,  #{mobile, jdbcType=VARCHAR} ,  #{userType, jdbcType=CHAR} ,  #{photo, jdbcType=VARCHAR} ,  #{loginIp, jdbcType=VARCHAR} ,  #{loginDate, jdbcType=TIMESTAMP} ,  #{creator, jdbcType=VARCHAR} ,  #{createDate, jdbcType=TIMESTAMP} ,  #{updater, jdbcType=VARCHAR} ,  #{updateDate, jdbcType=TIMESTAMP} ,  #{remarks, jdbcType=VARCHAR} ,  #{state, jdbcType=CHAR}  
        )
    </insert>

    <insert id="insertSelective" parameterType="com.rats.entity.User">
        insert into t_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
        <if test="departId != null">
            depart_id,
        </if>
        <if test="username != null">
            username,
        </if>
        <if test="password != null">
            password,
        </if>
        <if test="userNo != null">
            user_no,
        </if>
        <if test="name != null">
            name,
        </if>
        <if test="email != null">
            email,
        </if>
        <if test="mobile != null">
            mobile,
        </if>
        <if test="userType != null">
            user_type,
        </if>
        <if test="photo != null">
            photo,
        </if>
        <if test="loginIp != null">
            login_ip,
        </if>
        <if test="loginDate != null">
            login_date,
        </if>
        <if test="creator != null">
            creator,
        </if>
        <if test="createDate != null">
            create_date,
        </if>
        <if test="updater != null">
            updater,
        </if>
        <if test="updateDate != null">
            update_date,
        </if>
        <if test="remarks != null">
            remarks,
        </if>
        <if test="state != null">
            state,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id, jdbcType=VARCHAR} ,
        </if>
        <if test="departId != null">
            #{departId, jdbcType=VARCHAR} ,
        </if>
        <if test="username != null">
            #{username, jdbcType=VARCHAR} ,
        </if>
        <if test="password != null">
            #{password, jdbcType=VARCHAR} ,
        </if>
        <if test="userNo != null">
            #{userNo, jdbcType=VARCHAR} ,
        </if>
        <if test="name != null">
            #{name, jdbcType=VARCHAR} ,
        </if>
        <if test="email != null">
            #{email, jdbcType=VARCHAR} ,
        </if>
        <if test="mobile != null">
            #{mobile, jdbcType=VARCHAR} ,
        </if>
        <if test="userType != null">
            #{userType, jdbcType=CHAR} ,
        </if>
        <if test="photo != null">
            #{photo, jdbcType=VARCHAR} ,
        </if>
        <if test="loginIp != null">
            #{loginIp, jdbcType=VARCHAR} ,
        </if>
        <if test="loginDate != null">
            #{loginDate, jdbcType=TIMESTAMP} ,
        </if>
        <if test="creator != null">
            #{creator, jdbcType=VARCHAR} ,
        </if>
        <if test="createDate != null">
            #{createDate, jdbcType=TIMESTAMP} ,
        </if>
        <if test="updater != null">
            #{updater, jdbcType=VARCHAR} ,
        </if>
        <if test="updateDate != null">
            #{updateDate, jdbcType=TIMESTAMP} ,
        </if>
        <if test="remarks != null">
            #{remarks, jdbcType=VARCHAR} ,
        </if>
        <if test="state != null">
            #{state, jdbcType=CHAR} ,
        </if>
        </trim>
    </insert>


    <update id="updateByExampleSelective" parameterType="map">
        update t_sys_user
        <set>
            <if test="record.id != null">
                id = #{record.id, jdbcType=VARCHAR} ,
            </if>
            <if test="record.departId != null">
                depart_id = #{record.departId, jdbcType=VARCHAR} ,
            </if>
            <if test="record.username != null">
                username = #{record.username, jdbcType=VARCHAR} ,
            </if>
            <if test="record.password != null">
                password = #{record.password, jdbcType=VARCHAR} ,
            </if>
            <if test="record.userNo != null">
                user_no = #{record.userNo, jdbcType=VARCHAR} ,
            </if>
            <if test="record.name != null">
                name = #{record.name, jdbcType=VARCHAR} ,
            </if>
            <if test="record.email != null">
                email = #{record.email, jdbcType=VARCHAR} ,
            </if>
            <if test="record.mobile != null">
                mobile = #{record.mobile, jdbcType=VARCHAR} ,
            </if>
            <if test="record.userType != null">
                user_type = #{record.userType, jdbcType=CHAR} ,
            </if>
            <if test="record.photo != null">
                photo = #{record.photo, jdbcType=VARCHAR} ,
            </if>
            <if test="record.loginIp != null">
                login_ip = #{record.loginIp, jdbcType=VARCHAR} ,
            </if>
            <if test="record.loginDate != null">
                login_date = #{record.loginDate, jdbcType=TIMESTAMP} ,
            </if>
            <if test="record.creator != null">
                creator = #{record.creator, jdbcType=VARCHAR} ,
            </if>
            <if test="record.createDate != null">
                create_date = #{record.createDate, jdbcType=TIMESTAMP} ,
            </if>
            <if test="record.updater != null">
                updater = #{record.updater, jdbcType=VARCHAR} ,
            </if>
            <if test="record.updateDate != null">
                update_date = #{record.updateDate, jdbcType=TIMESTAMP} ,
            </if>
            <if test="record.remarks != null">
                remarks = #{record.remarks, jdbcType=VARCHAR} ,
            </if>
            <if test="record.state != null">
                state = #{record.state, jdbcType=CHAR} ,
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="common.Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update t_sys_user
        set
            id = #{record.id, jdbcType=VARCHAR} ,
            depart_id = #{record.departId, jdbcType=VARCHAR} ,
            username = #{record.username, jdbcType=VARCHAR} ,
            password = #{record.password, jdbcType=VARCHAR} ,
            user_no = #{record.userNo, jdbcType=VARCHAR} ,
            name = #{record.name, jdbcType=VARCHAR} ,
            email = #{record.email, jdbcType=VARCHAR} ,
            mobile = #{record.mobile, jdbcType=VARCHAR} ,
            user_type = #{record.userType, jdbcType=CHAR} ,
            photo = #{record.photo, jdbcType=VARCHAR} ,
            login_ip = #{record.loginIp, jdbcType=VARCHAR} ,
            login_date = #{record.loginDate, jdbcType=TIMESTAMP} ,
            creator = #{record.creator, jdbcType=VARCHAR} ,
            create_date = #{record.createDate, jdbcType=TIMESTAMP} ,
            updater = #{record.updater, jdbcType=VARCHAR} ,
            update_date = #{record.updateDate, jdbcType=TIMESTAMP} ,
            remarks = #{record.remarks, jdbcType=VARCHAR} ,
            state = #{record.state, jdbcType=CHAR} ,
        <if test="_parameter != null">
            <include refid="common.Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.rats.entity.User">
        update t_sys_user
        <set>
            <if test="departId != null">
                depart_id =#{departId, jdbcType=VARCHAR} ,
            </if>
            <if test="username != null">
                username =#{username, jdbcType=VARCHAR} ,
            </if>
            <if test="password != null">
                password =#{password, jdbcType=VARCHAR} ,
            </if>
            <if test="userNo != null">
                user_no =#{userNo, jdbcType=VARCHAR} ,
            </if>
            <if test="name != null">
                name =#{name, jdbcType=VARCHAR} ,
            </if>
            <if test="email != null">
                email =#{email, jdbcType=VARCHAR} ,
            </if>
            <if test="mobile != null">
                mobile =#{mobile, jdbcType=VARCHAR} ,
            </if>
            <if test="userType != null">
                user_type =#{userType, jdbcType=CHAR} ,
            </if>
            <if test="photo != null">
                photo =#{photo, jdbcType=VARCHAR} ,
            </if>
            <if test="loginIp != null">
                login_ip =#{loginIp, jdbcType=VARCHAR} ,
            </if>
            <if test="loginDate != null">
                login_date =#{loginDate, jdbcType=TIMESTAMP} ,
            </if>
            <if test="creator != null">
                creator =#{creator, jdbcType=VARCHAR} ,
            </if>
            <if test="createDate != null">
                create_date =#{createDate, jdbcType=TIMESTAMP} ,
            </if>
            <if test="updater != null">
                updater =#{updater, jdbcType=VARCHAR} ,
            </if>
            <if test="updateDate != null">
                update_date =#{updateDate, jdbcType=TIMESTAMP} ,
            </if>
            <if test="remarks != null">
                remarks =#{remarks, jdbcType=VARCHAR} ,
            </if>
            <if test="state != null">
                state =#{state, jdbcType=CHAR} ,
            </if>
        </set>
        where  id = #{id ,jdbcType=VARCHAR}  

    </update>

    <update id="updateByPrimaryKey" parameterType="com.rats.entity.User">
        update t_sys_user
        set
            id = #{id, jdbcType=VARCHAR} ,
            depart_id = #{departId, jdbcType=VARCHAR} ,
            username = #{username, jdbcType=VARCHAR} ,
            password = #{password, jdbcType=VARCHAR} ,
            user_no = #{userNo, jdbcType=VARCHAR} ,
            name = #{name, jdbcType=VARCHAR} ,
            email = #{email, jdbcType=VARCHAR} ,
            mobile = #{mobile, jdbcType=VARCHAR} ,
            user_type = #{userType, jdbcType=CHAR} ,
            photo = #{photo, jdbcType=VARCHAR} ,
            login_ip = #{loginIp, jdbcType=VARCHAR} ,
            login_date = #{loginDate, jdbcType=TIMESTAMP} ,
            creator = #{creator, jdbcType=VARCHAR} ,
            create_date = #{createDate, jdbcType=TIMESTAMP} ,
            updater = #{updater, jdbcType=VARCHAR} ,
            update_date = #{updateDate, jdbcType=TIMESTAMP} ,
            remarks = #{remarks, jdbcType=VARCHAR} ,
            state = #{state, jdbcType=CHAR} 
        where  id = #{id ,jdbcType=VARCHAR}  

    </update>



    <select id="countByExample" parameterType="com.rats.framework.data.persistence.GeneratedExample" resultType="java.lang.Long">
        select count(*) from t_sys_user
        <if test="_parameter != null">
            <include refid="common.Example_Where_Clause" />
        </if>
    </select>

</mapper>


